//Your customizations must come before bootstrap import

$primary: #9a0000;

.overlay-background {
  background: black;
}

.overlay-img {
  opacity: 0.4;
  width: 100%;
}

.backdrop-cortado {
  height: 220px;
  width: 220px;
}

.bg-cortado {
  background-color: #840405;
}

.bg-home-1 {
  background-color: #da6f89;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bg-home-2 {
  background-color: #7ea4eb;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bg-home-3 {
  background-color: #3858b1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.w-login {
  max-width: 600px;
}

.btn-login {
  max-width: 150px;
}

.btn-file {
  max-width: 250px;
}

/* progress bar styles */
.progress-bar {
  height: 15px;
  background: #9a0000;
  margin-top: 20px;
}

.img-dash {
  max-height: 100px !important;
}

.img-about {
  max-height: 200px !important;
}

.img-article {
  max-height: 100px !important;
}

.img-research {
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.media-links {
  width: 400px;
}

@import "../scss/bootstrap.scss";
